services:
  jupyter:
    build: .
    container_name: m9
    ports:
      - "8888:8888"
      - "4040:4040"
    volumes:
      - .:/app
    working_dir: /app/notebooks
    command: jupyter lab --ip=0.0.0.0 --no-browser --allow-root --ServerApp.token='' --ServerApp.password=''

  terraform:
    image: hashicorp/terraform:1.6
    volumes:
      - ./infra:/infra
      - ./keys:/keys
    working_dir: /infra
    env_file:
      - .env
    profiles:
      - deploy

  aws:
    image: amazon/aws-cli:2.15.0
    volumes:
      - .:/app
      - ./keys:/keys
    working_dir: /app
    env_file:
      - .env
    profiles:
      - deploy
